# FastAPI core
fastapi
uvicorn[standard]
starlette
pydantic
pydantic-settings

# LangChain/AI
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface

rank_bm25
faiss-cpu
tiktoken
sentence-transformers

# Database
sqlalchemy[asyncio]
asyncpg
alembic
pgvector

# Eureka Client
py-eureka-client

# Utilities
python-dotenv
python-multipart
httpx
redis
python-jose[cryptography]
passlib[bcrypt]
python-docx
pandas

# Testing
pytest
pytest-asyncio