# FastAPI core
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# LangChain/AI (only used packages)
langchain
langchain-openai
langchain-google-genai
langchain-postgres
langgraph-checkpoint-postgres

rank_bm25
faiss-cpu

# Database
sqlalchemy[asyncio]
asyncpg
alembic
pgvector
redis

# Eureka Client
py-eureka-client

# Utilities
python-dotenv
python-multipart
httpx
python-docx
pandas
PyJWT

# Testing
pytest
pytest-asyncio